
body, #mainWrapper {
    height: 100%;
    background-color:rgb(245, 245, 245);
}

body, .form-control{
    font-size:12px!important;
}

h1{
    font-size:32px!important;
    text-align: center;
}

.col-md-6{
    width: 300px;
}

.col-md-4{
    width: 200px;
}

.col-md-2{
    width: 200px;
}

.has-error{
    color:red;
}

.panel-create{
    text-align: center;
}

.calculate{
    text-align: center;
}

#chooseBtn{
    text-align: right;
}

#closeBtn{
    text-align: left;
}

#fullname{
    text-align: center;
    width: 400px;
}

#birthdt{
    width: 160px;
}



.generic-container {
  position:fixed;
  width: 850px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.custom-width {
    width: 80px !important;
}